[Translation]
File=pimsync-nct
Context=PimSync

[Desktop Entry]
Comment[]=PIM synchronization tool
Exec=pimsync
Icon=pimsync/PimSync
Type=Application
Name[]=PIM Synchronisation
MimeType="application/vnd.trolltech-qsp-xml"
