[Translation]
File=synczilla-nct
Context=SyncZilla
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation

[Desktop Entry]
Comment[]=A PIM synchronization toool
Exec=synczilla
Icon=synczilla/SyncZilla
Type=Application
Name[]=SyncZilla
MimeType="application/vnd.trolltech-qsp-xml"
